<div class="text-center m-5 border">
  <h2 class="m-3 text-primary">Add Product</h2>
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName" [(ngModel)]="product.productName" required>
<br/><br/>
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="product.description" required></textarea>
    <br/><br/>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" [(ngModel)]="product.price" required>
    <br/><br/>

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" [(ngModel)]="product.image" accept="image/*" required>
    <br/><br/>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" [(ngModel)]="product.category" required>
    <br/><br/>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" [(ngModel)]="product.stock" required>
    <br/><br/>

    <button type="submit" [disabled]="productForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>
