<div class="login-body">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="getUser(em.value,pw.value)">
        <img src="../../../assets/images/logo.JPG" alt="logo" height="100" width="130" style="margin: auto;">
        <div>
            <span style="color: red;text-align: center;"
                *ngIf="(user && user.invalid && user.touched) || (pass && pass.invalid && pass.touched)">Invalid
                Username
                or password</span>
        </div>
        <div class="flex-column">
            <label>Email </label>
        </div>
        <div class="inputForm">
            <input type="text" class="input" placeholder="Enter your Email" formControlName="email" #em>
        </div>


        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">
            <input type="{{showPassword ? 'text' : 'password'}}" id="pswd" class="input"
                placeholder="Enter your Password" formControlName="password" #pw>
            <i (click)="togglePassword()" style="font-size:24px" class="fa toggle">&#xf06e;</i>
        </div>

        <div class="flex-row">
            <div>
                <input type="checkbox">
                <label>&ensp;Remember me </label>
            </div>
            <span class="span">Forgot password?</span>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="button-submit"
            (click)="getUser(em.value,pw.value)">Sign In</button>
        <p class="p">Don't have an account? <span (click)="signUp()" class="span">Sign Up</span></p>
    </form>
</div>