@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.card-item {
  display: flex;
  height: 150px;
  width: 330px;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-wrap: nowrap;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
}
.card-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}
.left-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 1.1em;
  font-family: "poppins", "sans-serif";
  text-transform: capitalize;
}
.card-right {
  width: 40%;
  height: 100%;
  position: relative;
}
.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  border-radius: 50%;
  width: 100px;
}