<nav class="bg-gray-800">
  <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5 pe-0"></span>
          <span class="sr-only">Open main menu</span>

          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>

          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center ps-4">
          <img
            class="h-8 w-auto"
            src="../../../assets/images/logo.JPG"
            alt="Your Company"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">

            <a
              routerLink="/"
              class="bg-white-500 hover:bg-slate-600 text-white font-bold py-2 px-4 border border-blue-700 rounded"
              aria-current="page"
              >Dashboard</a>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button" routerLink="/cart" 
          class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white "
        >
          <div class="h-[20px] flex justify-center items-center pb-2 me-4">
            <div class="relative py-2">
              
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="file: mt-4 h-8 w-8"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
            </div>
            <div class="t-0 absolute left-6 pb-0">
              <p
                class="flex h-1 w-1 items-center justify-center rounded-full bg-red-500 p-[10px] text-xs text-white"
              >
                {{countProducts$ | async}}
              </p>
            </div>
          </div>
        </button>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button type="button" (click)="isLoggedIn ? logout() : navigateToLogin()" class="bg-white-500 hover:bg-slate-600 text-white font-bold py-2 px-4 border border-blue-700 rounded"> {{ isLoggedIn ? 'Logout' : 'Login' }}</button>
          </div>

          
          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
        </div>
        
        <button (click)="checkLoggedIn()">
          <img *ngIf="isLoggedIn"
          src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
          class=" rounded-full h-9 w-9 mx-3"
          alt="Avatar" />
        </button>
        <!-- <div class="relative ml-2">
          <button class="text-white" mat-icon-button (click)="toggleTheme()">
            <mat-icon>{{ isDarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
          </button>
        </div> -->

        
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        routerLink="/home"
        class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page"
        >Dashboard</a
      >
    </div>
  </div>
</nav>
