<h2 mat-dialog-title>Add Record</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Order Status</mat-label>
    <mat-select [(ngModel)]="selectedOrderStatus">
      <mat-option value="Processing">Processing</mat-option>
      <mat-option value="Completed">Completed</mat-option>
      <mat-option value="Canceled">Canceled</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <ng-container *ngFor="let ele of orderItems">
    <mat-form-field>
      <mat-label>Product</mat-label>
      <mat-select [(ngModel)]="ele.product">
        <mat-option *ngFor="let e of productlist" [value]="e">{{
          e.productName
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number of Items</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="ele.quantity"
        placeholder="Enter the number of items"
      />
    </mat-form-field>
    <br />
  </ng-container>
  <button class="btn btn-add" mat-icon-button (click)="addProduct()">
    <mat-icon>add</mat-icon>
  </button>
  <br />
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn dialog-btn" mat-button (click)="onNoClick()">
    cancel
  </button>
  <button class="btn dialog-btn ms-2" mat-button (click)="onYesClick()">
    Add
  </button>
</mat-dialog-actions>
