<div>
  <h2>Product Table</h2>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Category</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let product of products">
        <td>{{ product.productName }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td><img [src]="product.image" alt="Product Image" style="max-width: 100px;"></td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
      </tr> -->
    </tbody>
  </table>
</div>
