.expenses-container {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  
    .expense-title-container {
      display: flex;
      padding: 5px;
      justify-content: start;
  
      .expense-title {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  
    .chart-container {
      height: 450px;
      width: 100%;
      display: flex;
      justify-content: center;
  
      .chart {
        height: 80%;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
      }
  
      .labels-container {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        align-self: center;
  
        ul {
          list-style: none;
  
          li {
            margin-bottom: 5px;
            display: flex;
            align-items: center;
          }
  
          .dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
      }
    }
  }
  