<app-navbar></app-navbar>

<!-- <button (click)="getAllUser()">List Users</button> -->
<div class="list_users">
    <header>
        <h1>User Details</h1>
      </header>
<div class="alert text-danger">{{errMsg}}</div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <!-- <th>Role</th> -->
        <th>Phone No</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users ">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <!-- <td>{{ user.role }}</td> -->
        <td>{{ user.phoneNo }}</td>
        <td>    
           
            <button class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button>

        </td>
        
      </tr>
    </tbody>
  </table>

</div>