<div class="login-body">
    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="Reset(reset.value)" #reset="ngForm">
        <img src="../../../assets/images/logo.JPG" alt="logo" height="100" width="130" style="margin: auto" />
        <!-- <div class="alert alert-danger" role="alert"
            *ngIf="(user && user.invalid && user.touched) || (pass && pass.invalid && pass.touched)">
            Invalid Username or password -->
        <!-- </div> -->
        <div class="inputForm">
            <input type="email" id="pswd" class="input" placeholder="Email Address"
                formControlName="email" #email />
        </div>
        <button [disabled]="resetPasswordForm.invalid" class="button-submit">Verify Email</button>
        <span style="text-align: center;"class="span" routerLink="/login">Back To Login</span>
    </form>
</div>