<nav class="navbar">
  <div class="xyz">
    <a href=""><img width="70" height="50" src="../../../assets/images/logo.JPG" alt="logo" />
    </a>

    <div class="twothree">
      <div>
        <ul class="abc">
          <div class="sample">
            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
          </div>

          <div class="sample">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" aria-expanded="false">
                Products
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link active" aria-current="page" routerLink="/add_product">Add Product</a>
                </li>

                <li>
                  <a class="nav-link active" aria-current="page" routerLink="/product_list">Product List</a>
                </li>
              </ul>
            </li>
          </div>
          <div class="sample" *ngIf="isAdmin">
            <a class="nav-link active" routerLink="/admin_userList">View Users</a>
          </div>

          <div class="sample">
            <a class="nav-link active" aria-current="page" href="/orders">Orders</a>
          </div>

        </ul>
      </div>


      <div id="navbarSupportedContent" style="margin-left: 100px;">
        <div class="user-greeting">Hello, {{ name }}</div>
        <div class="logout-btn">
          <a class="nav-link active" href="/" (click)="logout()">
            <span class="material-icons">logout</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>