<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <img width="70" height="50" src="../../../assets/images/logo.JPG" alt="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard" routerLinkActive="active"
            routerLinkActive="{exact:true}">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="nav-link active" aria-current="page" routerLink="/add_product" routerLinkActive="active">Add
                Product</a>
            <li>
              <a class="nav-link active" aria-current="page" routerLink="/product_list"
                routerLinkActive="active">Product List</a>
            </li>

          </ul>
        </li>
        <div *ngIf="isAdmin">
         
            <a class="nav-link active" aria-current="page" routerLink="/admin_userList"
                  routerLinkActive="active">View Users</a>
           
        </div>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/orders" routerLinkActive="active"
          routerLinkActive="{exact:true}">Orders</a>
        </li>
        <div style="float: right;">
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" routerLink="/" routerLinkActive="active"
              routerLinkActive="{exact:true}" (click)="logout()">LOGOUT</a>
          </li>

        </div>
      </ul>
      <div style="margin-right: 20px; font-size: medium; font-weight: bold;">Hello, {{name}}</div>
    </div>
  </div>
</nav>