<!-- Import necessary Material-UI modules in your component's stylesheet -->


<!-- Include the following components in your HTML template -->
<div class="login-body">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser(fname.value, em.value, cont.value, pw.value, confpass.value)">
    <img src="../../../assets/images/logo.JPG" alt="logo" height="80" width="120" style="margin: auto;">

    <div class="flex-column">
      <mat-form-field class="inputForm">
        <input matInput type="text" placeholder="Full Name" formControlName="name" #fname>
      </mat-form-field>
    </div>

    <div class="flex-column">
      <mat-form-field class="inputForm">
        <input matInput type="text" placeholder="Email Address" formControlName="email" #em>
      </mat-form-field>
    </div>

    <div class="flex-column">
      <mat-form-field class="inputForm">
        <mat-label>Phone No</mat-label>
        <mat-icon matPrefix>phone</mat-icon>
        <input matInput type="tel" placeholder="Phone No" formControlName="phoneNo" #cont>
      </mat-form-field>
    </div>

    <div class="flex-column">
      <mat-form-field class="inputForm">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" #pw>
        <mat-icon matSuffix (click)="togglePassword()">visibility</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex-column">
      <div class="error-message" *ngIf="registerForm?.errors?.['misMatch'] && registerForm?.touched">
        Password Must Match
      </div>
    </div>

    <div class="flex-column">
      <mat-form-field class="inputForm">
        <mat-label>Confirm Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Confirm Password" formControlName="cpw" #confpass>
        <mat-icon matSuffix (click)="togglePassword()">visibility</mat-icon>
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit" class="button-submit">Register</button>
  </form>
</div>
