<section class="page_404">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<div class="text-center">
					<div class="four_zero_four_bg">
						<h1 class="text-center ">404</h1>
					</div>

					<div class="contant_box_404">
						<h2 class="h2">
							Look like you're lost
						</h2>

						<h3>the page you are looking for not available!</h3>

						<a class="link_404" routerLink="/" routerLinkActive="active">Go to Dashboard</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>